<h1> How to Play </h1>
<h2> Choose either Rock, Paper or Scissors </h2>

<h3>Click here <a href="/Rock">Rock</a> to choose Rock!</h3>
<h3>Click here <a href="/Paper">Paper</a> to choose Paper!</h3>
<h3>Click here <a href="/Scissors">Scissor</a> to choose Scissors!</h3>